.header-container {
    /* width: 110vw;
    height: 60px; */
    background-color: #1d344a;
    height: 55px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.header-container h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0px;
    text-align: center;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.607);
}


.header-container button {
    height: 40px;
    width: 100px;
    background-color: #1d344a;
  
    
    
}

.header-title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.header-button {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}