.container-display-quotes {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: row-reverse;
  gap: 20px;
  background-color: #1e282b;
}

.container-display{
  background-color:#1e282b;
  height: 110vh;
}
.container-tags-by{
  display: flex;
  justify-content: center;
 
}

.tags-items div {
  background-color: #1d344a;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  text-align: center;
  display:flex;
  flex-direction: column;
  
}

.tags-items span {
  color: white;
}

.tags-items ul {
  color: white;
}
.container-display-quotes button {
  width: 300px;
  height: 30px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  color: #1d344a;
  font-size: 15px;
}

.items-center{
  display: flex;
  align-items: center;
  justify-content: center;
}


.display-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
}


.container-forma {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 20px;
}
.container-forma span {
  color: white;
}
.add-quotes { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}